// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.review {
  text-align:center;
  padding:2%;
  position: static;
}

.rating {
  text-align:center;
  position: relative;
}

.rated {
  float:left;
  padding: 2.5%;
  margin-left: 3%;
  position: absolute;
}



.product-reviews {
  margin-left: 8%;
  float:left;
  margin-top:10%;
}

.btn {
  margin-right: 70%;
  padding:.5%;
}