<div class="products-background">
  <p id="notice"><%= notice %></p>

  <div class="row-bootsrap">
    <div class="col-md-8">
      <% cache(@products) do %>
      <%= render partial: "shared/product", collection: @products %>
      <% end %>
    </div>

  </div>
  <button type="submit" class="btn btn-default new-product-btn"><%= link_to 'New Product', new_product_path %></button>

  <dic class="products-page-side-picture">
    <img class="picture-products" src="https://s3.amazonaws.com/agustinchavez.ninja/lighthouse-905674.jpg" style="width:100%;height:100%;">
  </div>

  <br>

</div>


